body{
  background-color: black;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}
.hidden{
  opacity: 0;
}
.dropdwn{
  display: inline-block;
}
.notselect{
  background-color: grey;
}
.selected{
  background-color: red;
}
.clock{
  font-size: 5em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10%;
}
.smallclock{
  font-size: 2em;
  width: 90%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#todo{
  font-size: 4em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#button{
  display: block;
  width: 100px;
  height: 50px;
  box-shadow: 1px 1px grey 10px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
#dropdown{
  text-align: center;
}
#times{
  background-color: grey;
  width: 100px;
}
.options{
  display: block;
  text-align: center;
}
#moodselect{
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.icon{
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  margin: 10px;
}
.superhide{
  display: none;
}
.mainface{
  position: fixed;
  width: 100%;
  height: 100%;
}
